API_ID= 28572091
API_HASH= 8e0e5b12ad0624ad291422db70ad3098
BOT_TOKEN= 8039376231:AAEXSk0FTNfXkpCsEEWox3pAqsip90e5_s4
LOGGER_ID= -1002959218389
MONGO_DB_URI= mongodb+srv://gemperor82_db_user:wtOSr48YHKf0zJeG@nehalsingh.ylobnk0.mongodb.net/?retryWrites=true&w=majority
OWNER_ID= 6014895515
STRING_SESSION= BQGz-bsAonKCGRhChb68VVGWD_rZnodsb9MT7Qd9Brlp02WzIyYqdfTZlHDZgAdUSR9e4Lnws2yMO0_wWL2o0xpBUk2L5_6tBY4HcAHIUTTLrDX7a7GkJLX4_u2OupQsO9hUFLll6HCseN0VNqhZs6tgSsalWxELg7kfnvqKiAnVTgbHM6y3X9tA7MVsj6U4C5qoEjevOC55gInAAJEIB-co9pOMbQPOMA3pM2RMj-pq-oi3HGnOpxPUlk-AzUwiFhBePpWuBp-scz3y1KwP9nWlSWMIo1vj5zDX0h757XTZn8K5rwhnpomXsuythA5e2TKd_FHV3ObwUcqQbdjfRk2o1JQxjgAAAAGxStM3AA