API_ID= 27897195
API_HASH= 66c0576cae67f1e590a7c83ef3270300
BOT_TOKEN= 8318550210:AAHORUPnOpAQlcfGSpE2CSFPMxl32h2X52I
LOGGER_ID= -1002970600713
MONGO_DB_URI= mongodb+srv://mrarya213612:hvidL8y8dcansVyi@arya.3p8uutx.mongodb.net/?retryWrites=true&w=majority
OWNER_ID= 6014895515
STRING_SESSION= BQGprWsATrrgU4MK-1XQ4Sctwp9fzFamZR29domMJGjHVD6dxdegWRnRg6cMnGLYqy6gVzIrSWqtEKmn4qZa8joDLUqdEKbSyPVGreDowmWY5TlNNxc5Br5NaF6eg9nWabGdOlNnCUbRWEUBlmpABqokG9qST4GDUkvUv_Zkw8oSH8NeFCet6v3pre6Zo7SmA11aBtSnGLrtkXxIZ5i4nJYfpy0W5netY5C1O7vPHzF92YsNgiEwIzEVVEg32LtZWO1H_1wENDov2f-rasguJV2YG_mW97A0LzTKvk3xv_GuVoonRSEUx-b35qCQfCJslCeAsfW6Se1FWHGTHqenlrDRPR95hQAAAAH1QE2_AA